<html>
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Carfel</title>
</head>

<body>

    <header class="topo">
        <div class="logo">
            <img src="/img/logo.png" alt="logo">
        </div>
        <div class="titulo">
            <h1>CARFEL</h1>
        </div>
        <div class="tele">
            <img src="/img/tele.png" alt="telefone">
            <h2>(11)95432-2233</h2>
        </div>
        <div class="email">
            <img src="/img/email.png" alt="email">
            <h3>carfel@hotmail.com</h3>
        </div>
    </header>
    <section class="oque">
        <div class="quadrado">
            <ul>
                <li>INÍCIO</li>
                <li>SOBRE</li>
                <li>FAQ</a></li>
                <li> <a href="/Comentario/cadastro">COMENTÁRIO</a></li>
            </ul>
        </div>
    </section>

    @RenderBody();
</body>
</html>