@{ Layout = "MasterPageDeslogado";}

@section styles {
    <link rel="stylesheet" href="/css/cadastro.css">
}

<html>

 <section class="comentario">
        <h2>Comentários</h2>

        <form action="/Comentario/Cadastro" method="POST">

            <div class="comenta">

                <img src="/img/comentario.jpg" alt="comenta">
            <label class="eita">
                <input class="botao" type="text" name="texto">
                <h1>Um Ótimo Software!!</h1>
                <h2>Recomendo para todas as empresas.</h2>
            </label>
            <br>
             </div>
            
            <div class="icone">
                <form action="/Comentario/Cadastro" method="POST">

                <img src="/img/icone1.png" alt="comento">
            <label class="come">
                <input class="coment" type="text" name="texto" placeholder="Realize seu comentário">
            </label>
            <br>
            </div>
            <button type="submit" name="CadastrarComentario" class="btn-enviar">ENVIAR</button>
            <center>
                
             @foreach (var item in ViewBag.lista)
             {
        <tr>
                <td>
                    <br><br><br><br>
                    @item.Nome
                </td>
                <td>
                    @item.DataCriacao
                    <br>
                </td>
                <td>
                    @item.Texto
                </td>
        </tr>
             }
    </center>
     </form>
    </section>

     <section class="fim">
        <h3>RUA BARÃO DE LIMEIRA
            Nº 444</h4>
        
        <div class="mapa">
            <img src="/img/map.png" alt="mapa">
        </div>
        <div class="face">
            <img src="/img/face.png" alt="face">
        </div>
    </section>

</html>