@{
    Layout = "MasterPageDeslogado";
}

@section styles {
    <link rel="stylesheet" href="/css/carfel.css">
}
<html>
    <div class="video">
                    <img src="/img/video.jpg" alt="video">
                </div>
                <div class="play">
                    <img src="/img/play.png" alt="play">
                </div>
                <div class="funciona">
                    <h5>OQUE É E COMO FUNCIONA?</h5>
                    <p>A Check Point oferece aos clientes
                            a monitorização e a segurança
                            de seus empregados.
                            Se você precisa de segurança
                            para a empresa, home office,
                            a Check Point tem uma solução
                            para você.</p>
                </div>
    </section>

    <section class="planos">
        <div class="quadrado2">
        </div>
        <h6>PLANOS</h6>
        <div class="slk">
            <div class="mao">
                <ul>
                    <li>PREMIUM</li>
                    <li>R$ 199,90</li>
                </ul>
            </div>
            <div class="oculos">
                    <ul>
                            <li>MENSAL</li>
                            <li>R$ 19,90</li>
                        </ul>
            </div>
        </div>
        <div class="homem">
                <ul>
                        <li>FREE</li>
                        <li>R$ 0,00</li>
                    </ul>
        </div>
        <div class="clique">
            <div class="click1">
                <img src="/img/click.png" alt="clique">
            </div>
            <div class="click2">
                <img src="/img/click.png" alt="clique">
            </div>
            <div class="click3">
                <img src="/img/click.png" alt="clique">
            </div>
        </div>
    </section>

    <section class="utiliza">
        <div class="quadrado3"></div>
        <h6>QUEM UTILIZA NOSSOS SOFTWARES</h6>
        <div class="utilizacao">
            <div class="honda">
                <img src="/img/honda.png" alt="honda">
            </div>
            <div class="contabilidade">
                <img src="/img/contabilidade.png" alt="contabilidade">
            </div>
            <div class="gol">
                <img src="/img/gol.png" alt="gol">
            </div>
            <div class="starbucks">
                <img src="/img/starbucks.png" alt="starbucks">
            </div>
            <div class="amazon">
                <img src="/img/amazon.png" alt="amazon">
            </div>
        </div>
    </section>
    <section class="fim">
        <div class="quadrado3"></div>
        <h6>RUA BARÃO DE LIMEIRA
            Nº 444</h6>
        <div class="mapa">
            <img src="/img/map.png" alt="mapa">
        </div>
        <div class="face">
            <img src="/img/face.png" alt="face">
        </div>
    </section>
</html>