@{ Layout = "MasterPageDeslogado";}

    <section class="faq">
        <h5>FAQ - PERGUNTAS FREQUENTES</h5>
        <div class="perguntas">
            <ul>
                <li>Sou obrigado a ficar com o site por um tempo mínimo?</li>
                <li>Qual é o prazo de início do serviço e o prazo de entrega?</li>
                <li>Terei e-mail?</li>
                <li>Meu site vai aparecer no google e eu posso 
                integrar com redes sociais?</li>
                <li>Enquanto eu estiver com o site poderão
                    surgir taxas extras?</li>
            </ul>
        </div>
        
        <div class="respostas">
            <ul>
                <li>Não. Você pode cancelar a qualquer momento.</li>
                <li>Depois de confirmado o pagamento da construção, em
                    até 2 dias úteis a Carfel entrará em contato para 
                    passar as instruções. </li>
                <li>Sim. Todos os planos possuem e-mail profissional 
                    de 10GB de espaço, ou seja, você possuirá
                    um e-mail com o seu domínio.</li>
                <li>Sim. Após o site estar no ar ele já estará pronto 
                    para ser indexado pelo Google. 
                    Esse processo poderá demorar alguns dias.</li>
                <li>Não. Na taxa de manutenção já estão incluídas
                    todas as despesas.</li>
            </ul>
        </div>
    </section>

    <section class="fim">
        <h4>RUA BARÃO DE LIMEIRA
            Nº 444</h4>
        <div class="mapa">
            <img src="imagens/map.png" alt="mapa">
        </div>
        <div class="face">
            <img src="imagens/face.png" alt="face">
        </div>
    </section>

        <div id="chat">
            <header>
            <nav class="flex-container">
            
        <div class="perfil flex-container">
        <div class="perfil-dados">
            <span class="perfil-nome">Carfel</span>
        </div>
        </div> <!--Fim perfil-->
            
        <div class="acoes flex-container">
            <a href="#">
                <i class="fas fa-search"></i>
            </a>
            <a href="#">
                <i class="fas fa-paperclip"></i>
            </a>
        </div>
            </nav>
            </header>

            <main class="flex-container">
                <div class="chat-msg chat-msg-enviada">
                    <p>Lorem ipsum dolor sit amet consectetur, quasi asperiores pariatur?</p>
                    <span class="chat-msg-horario">12:20</span>
                </div>
                <div class="chat-msg chat-msg-recebida">
                    <p>Lorem ipsum dolor sit amet consectetur</p>
                    <span class="chat-msg-horario">13:40</span>
                </div>
            </main>

            <footer class="flex-container">
                <i class="fas fa-kiss-beam"></i>
                    <form action="/Usuario/faq" class="mensagem">
                    <textarea></textarea>
                    </form>
                <i class="fas fa-microphone"></i>
            </footer>
    </div>